.barra{
    text-align: center;
}
.navbar-brand{
    text-align: center;
    color: blue;
    font-size: 30px;
    font-weight: bold;
}
.nav-link{
    display:block;
    text-align: right;
}
.boton{
    display:block;
    text-align: left;
    
}